<!-- <td-layout-nav-list toolbarTitle="SX CxC" navigationRoute="/" opened="true" mode="side">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-sidenav-content>
    Sidenav content here
  </div>
  <div td-toolbar-content>
    <button mat-icon-button tdLayoutNavListToggle>
      <mat-icon>apps</mat-icon>
    </button>
    <span>Solicitudes de deposito</span>
  </div>
  Content goes here
</td-layout-nav-list> -->
<td-layout-nav-list #navList [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
  [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
  <div td-sidenav-toolbar-content layout="row" layout-align="start center">
    <button mat-icon-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <mat-icon [routerLink]="['/']" class="mat-icon-logo cursor-pointer" svgIcon="assets:teradata"></mat-icon> -->
    <span [routerLink]="['/']" class="cursor-pointer">SX-CxC</span>
  </div>
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Solicitudes de deposito</span>
    <span flex></span>
  </div>
  <mat-nav-list td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')">
    <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
      <a mat-list-item [routerLink]="[item.route]" routerLinkActive="active">
        <mat-icon matListAvatar>{{item.icon}}</mat-icon>
        <h3 matLine> {{item.title}} </h3>
        <p matLine> {{item.description}} </p>
      </a>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </ng-template>
  </mat-nav-list>
  <div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <router-outlet></router-outlet>
  </div>

  <td-layout-footer>
    <sx-footer></sx-footer>
  </td-layout-footer>
</td-layout-nav-list>
